@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body,
#__next {
  height: 100%;
}

body {
  background-color: #05070c;
  color: #e5f3ff;
}

* {
  -webkit-tap-highlight-color: transparent;
}

canvas {
  display: block;
  touch-action: none;
}
